html {
    scroll-behavior: smooth;
}

/*
    Layout/background
*/
body {
    line-height: 1;
    background: rgba(100, 135, 200, 0.3);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* 
    Containers
*/
.container {
    margin: 0 auto;
}


.aboutme {
    background: rgb(124, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    line-height: 25px;
    text-align: center;
}

.contact-form {
    display: grid;
    box-sizing: border-box;
    grid-template: 1fr 1fr 1fr / repeat(2, 1fr);
    margin-top: 5px; 
    border: 2px solid black;
    border-bottom: 3px solid black;
    border-radius: 10px;
    grid-gap: 8px;
}


/* 
    Buttons 
*/
.button-container {
    display: grid;
    grid-template: 1fr / repeat(2, 30%);
    grid-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    font-size: 1em;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #a000df;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    transition: 1s;
    text-decoration: none;
}

.btn:hover {
    background: #a000df;
    color: #000000;
    border: none;
}

/*
    Main Layout
*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    line-height: 25px;
    text-align: center;
}

.main .bg {
    background: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}

/*
    Contact Form
*/

.contact-form label, .contact-form input {
    position: relative;
    top: 5px;
    margin: 5px auto;
}

.contact-form label {
    color: black;
}

.contact-form input {
    width: 70%;
    border: 2px solid #ccc;
}

.btn--submit {
    align-content: center;
    width: 20%;
    margin-top: 20px;
}

/*
    About Me
*/
.aboutme hr {
    background: black;
}

/*
    Media queries for responsive designs
*/
@media only screen and (max-width: 375px) {
    .contact-form {
        margin-left: 10px;
        width: 95%;
        }
}